#china{
  position: absolute;
  top: 20px;
  left: 61%;
  padding-right:45px;
  padding-bottom: 6px;
  border-right: 1px solid #454545;
  
}
#china a:link{
  color:rgb(85, 190, 218);
  text-decoration: none;
}
#china a:visited{
color:rgb(85, 190, 218);
}
#china a:hover{
text-decoration: underline;
color:rgb(85, 190, 218);
}
body{
    margin: 0%;
    font-size: small;
    overflow-x: hidden;
}

header{
    background-color: black ;
    height: 97px;
}
nav{
    color: white;
    margin-top: 28px;
    margin-left: 25%;
    vertical-align: text-top;
    position: absolute;
    top: 23px;
}
nav ul{
    list-style-type: none;
    height: 45px;
}
nav ul a{
    text-decoration: none;
    color: white;
}
nav ul li{
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}
.abeijing1 a:hover{
    background-color:rgb(33, 98, 124);
    padding: 12px 15px 14px 15px; 
}

#logo{
    margin-left: 25%;
    padding-top: 15px;
}
#wuzi{
    position: absolute;
    top: 51.99px;
    left: 24%;
}

aside{
    background-image: url(./picture/背景图片.jpg);
    width: 1850px;
    height: 600px;
    
}
#anjian{
    position: absolute;
    margin-left: 65%;
    top: 20px;
}
#sousuolan{
     position: absolute;
     background: transparent;
     border: 1px solid #454545;
     border-radius: 3px;
     -webkit-box-sizing:border-box;
     color: #fefefe;
     font-size: 15px;
     height: 22px;
     padding: 2px 5px;
     width: 145px;
     margin-left: 70%;
     top:20px;
}
 #fangdajing {
    position: absolute;
    top: 23px;
    left: 75.5%;
    border-left: 1px solid #454545;
}    
 #chuangkou{
    position: absolute;
    width: 500px;
    height: 193px;
    background-color: rgba(0, 0, 0, 70%);
    top: 250px;
    left: 30px;    
}
 #chuangkou h1{
    font-family: Impact,sans-serif ;
    font-weight: 400;
    color: white;
    font-size: 2.8em;
    margin:10px 0px 10px 15px;
}   
 #chuangkou p{
    color: white;
    margin:15px 10px 15px 15px;
    font-size:1em;
    line-height: 25px;
}
 #blue{
    margin-left: 100px;
    padding-top: 30px;
}
.zimu a:link{
    text-decoration: none;
}
.zimu a:visited{
    color:#0093de;
}
.zimu a:hover{
    text-decoration: underline;
    color:#0093de;
}
.zimu{
    margin-left: 2%;
    position: relative;
    left: 600px;
    display: inline;
    padding-right:10px;
}
#start{
    text-align: center;
}
#shipingjian{ width: 100;

}
#tupian{
    background-repeat: repeat-x;
    margin-left: 8%;
    margin-top: 70px;
}
#dis{
    text-align: center;
    margin-top: 35px;
}
#tiaki{
    position: relative;
    left: 170px;
    top: 25px;
}
.zimu2{
    line-height: 1;
    border: 1px solid #2db6e8;
    border-radius: 2px;
    color: #fff;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 10px 15px;
    text-align: center;
    background-color: #2db6e8;
    position: relative;
    top: -60px;
    left: 300px;
}
#jiantou1{
    position: absolute;
    top: 200px;
}
#jiantou2{
      position: absolute;
      top: 200px;
      left: 1215px;
   
}
#lankuang{
    height: 212px;
    background-color: rgb(247, 247, 247);
    
    border-top:1px solid rgb(222, 222, 222);
}
#wenzi{
    padding-top: 20px;
  font-size: 210%;
  text-align: center;
}
#lankuang p{
    font-size: 1.1em;
    padding-left: 38%;
    width: 463px;
}

#ditu{
    background-image:url(./picture/getting-here-map-ind__FocalPointCropWzY2MCwxOTIwLDUwLDUwLDc1LCJqcGciLDY1LDIuNV0.jpg) ;
    width: 1920px;
    height: 660px;
}
#tupian{
    position: relative;
}
#hongse{
    position: absolute;
    top: -620px;
    left: 68%;
    z-index: 1;
}
#plan{
    text-align: center;
}
#qiche{
    width:100px;
    
}
#suoyousvg{
    margin-left: 250px;
}
#suoyousvg p{
    font-size: 16px;
}
#qiche{
    width: 180px;
    text-align: center;
    display: inline-block;
    padding-right: 100px;
    position: relative;
    top: -60px;
}
.car {
    width: 80px;
}
  .zimo2 {
    font-size: 16px;
}
  .zimo2 a:link{
    text-decoration: none;
}
  .zimo2 a:visited{
    color:#0093de;
}
  .zimo2 a:hover{
    text-decoration: underline;
    color:#0093de;
}
  #yun{
    width: 180px;
    text-align: center;
    display: inline-block;
    padding-right: 100px;
}
  .weather{
    width: 80px;
}
  #yun h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  .accommodation{
    width: 80px;
}
  #chuang{
    width: 180px;
    text-align: center;
    display: inline-block;
    position: relative;
    top: -45px;
}
  .bus{
    width: 80px;
}
  #gongjiaoche{
   width: 180px;
   text-align: center;
   display: inline-block;
   padding-left: 100px;
}
  
    
  #sangeanniu{
    position: relative;
    left: 40%;
    top: 30px;
}
  h3{
    margin-top: 50px;
    text-align: center;
}
  .youxiang{
    text-align: center;
}
  #huise{
    background-color: rgb(45, 45, 45);
    height: 42px;
    width: 1920px;
    margin-top: 35px;
}
  #liangtuo{
    margin-left: 500px;
    padding-top: 8px;
}
  #xiaohuikuang{
    background-color: rgb(68, 68, 68);
    height: 20px;
    width: 80px;
    color: rgb(202, 202, 202);
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 8px;
  }
  #yituohei{
    background-color: rgb(23, 23, 23);
    height: 335px;
    width: 1920px;
    color: rgb(202, 202, 202);
}
  #situozi{
    margin-left:480px;
}
  #situozi h2{
    margin: 0px 0px 10px 0px;
    color: #fff;
}
  #situozi{
    color: rgb(202, 202, 202);
    line-height: 0.7em;
}
  .twitter{
    width: 30px;
}
  .kuan-find{
    width: 120px;
    display: inline-block;
    position: relative;  
    top: -25px;
    margin-left: 20px;
    margin-right: 20px;
}
  .kuan-con{
    display: inline-block;
    width: 120px;
    position: relative;
    top:-95px;
    margin-left: 20px;
    margin-right: 20px;
}
  .kuan-help{
    display: inline-block;
    width: 175px;
    position: relative;
    top: 22px;
    margin-left: 20px;
    margin-right: 20px;
}
  .kuan-our {
    display: inline-block;
    width: 120px;
    position: relative;
    top: 25px;
    margin-left: 20px;
    margin-right: 20px;
}
  
  .zimo3waikuang{
    position: relative;
  }
  .zimo3 {
    position: absolute;
    left: 35px;
    top: -25px; 
  }
  
  .zimo3 a:link {
    text-decoration: none;
  }
  .zimo3 a:visited{
    color: rgb(202, 202, 202);
}
 .zimo3 a:hover{
    text-decoration: underline;
    color: rgb(202, 202, 202);
    
  }
.instagram{
    width: 30px;
  }
.facebook{
    width: 15px;
}
  .youtube{
    width: 30px;
}
  
  .zimo4 a:link{
    text-decoration: none;
}
  .zimo4 a:visited{
    color: rgb(202, 202, 202);
}
  .zimo4 a:hover{
    text-decoration: underline;
    color: rgb(202, 202, 202);
}
  #teshu1 p{
    line-height: 1.5em;
}
  #teshu2 p{
    line-height: 1.5em;
}
  #yezisvg{
    float: right;
    margin-top: 50px;
    margin-right: 480px;
}
  #zuihoudezi{
    color: #fff;
    margin: 50px 0px 20px 500px;
}
  
  #zuihoudezi a:visited{
    color: #fff;
    text-decoration: none;
}
  #zuihoudezi a:hover{
    text-decoration: underline;
    color: #0093de;
}
  #zuihoudezi a:active{
    text-decoration: none;
}
  #maotouying{
    display: inline;
    vertical-align: middle;
}
#toumingkuang{
  background-color: rgba(0,0,0, 70%);
  width: 110px;
  height: 110px;
  position: absolute;
  top: -400px;
  left: 60%;
}
.icon-play{
  width: 60px;
  padding-left: 35px;
  padding-top: 20px;

}
#tomingkuang-waimian{
  position: relative;
}



